/*
 * Copyright (c) 2021-2022 Huawei Device Co., Ltd.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 
zh-cn/device-dev/kernel/ @Austin23
zh-cn/device-dev/website.md @Austin23
zh-cn/device-dev/faqs/ @Austin23
zh-cn/device-dev/porting/ @Austin23
zh-cn/device-dev/security/ @Austin23
zh-cn/device-dev/guide/ @duangavin123_admin
zh-cn/device-dev/quick-start/ @li-yan339
zh-cn/device-dev/driver/ @li-yan339
zh-cn/device-dev/get-code/ @li-yan339
zh-cn/device-dev/hpm-part/ @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-build-mini-lite.md @Austin23
zh-cn/device-dev/subsystems/subsys-build-standard-large.md @Austin23
zh-cn/device-dev/subsystems/subsys-build-gn-coding-style-and-best-practice.md @Austin23
zh-cn/device-dev/subsystems/subsys-build-gn-kconfig-visual-config-guid.md @Austin23
zh-cn/device-dev/subsystems/subsys-remote-start.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-graphics-overview.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-graphics-container-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-graphics-layout-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-graphics-common-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-graphics-animation-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-multimedia-camera-overview.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-multimedia-camera-photo-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-multimedia-camera-record-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-multimedia-camera-preview-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-multimedia-video-overview.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-multimedia-video-play-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-multimedia-video-record-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-utils-overview.md @Austin23
zh-cn/device-dev/subsystems/subsys-utils-guide.md @Austin23
zh-cn/device-dev/subsystems/subsys-utils-faqs.md @Austin23
zh-cn/device-dev/subsystems/subsys-aiframework-guide.md @Austin23
zh-cn/device-dev/subsystems/subsys-aiframework-envbuild.md @Austin23
zh-cn/device-dev/subsystems/subsys-aiframework-tech-codemanage.md @Austin23
zh-cn/device-dev/subsystems/subsys-aiframework-tech-name.md @Austin23
zh-cn/device-dev/subsystems/subsys-aiframework-tech-interface.md @Austin23
zh-cn/device-dev/subsystems/subsys-aiframework-devguide-sdk.md @Austin23
zh-cn/device-dev/subsystems/subsys-aiframework-devguide-plugin.md @Austin23
zh-cn/device-dev/subsystems/subsys-aiframework-devguide-conf.md @Austin23
zh-cn/device-dev/subsystems/subsys-aiframework-demo-sdk.md @Austin23
zh-cn/device-dev/subsystems/subsys-aiframework-demo-plugin.md @Austin23
zh-cn/device-dev/subsystems/subsys-aiframework-demo-conf.md @Austin23
zh-cn/device-dev/subsystems/subsys-data-relational-database.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-data-relational-database-overview.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-data-relational-database-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-data-storage.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-data-storage-overview.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-data-storage-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-sensor-overview.md @Austin23
zh-cn/device-dev/subsystems/subsys-sensor-guide.md @Austin23
zh-cn/device-dev/subsystems/subsys-sensor-demo.md @Austin23
zh-cn/device-dev/subsystems/subsys-usbservice-overview.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-usbservice-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-usbservice-demo.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-application-framework-overview.md @Austin23
zh-cn/device-dev/subsystems/subsys-application-framework-envbuild.md @Austin23
zh-cn/device-dev/subsystems/subsys-application-framework-guide.md @Austin23
zh-cn/device-dev/subsystems/subsys-application-framework-demo.md @Austin23
zh-cn/device-dev/subsystems/subsys-ota-guide.md @Austin23
zh-cn/device-dev/subsystems/subsys-tel-overview.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-tel-guide.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-security-overview.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-security-sigverify.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-security-rightmanagement.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-security-communicationverify.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-security-devicesecuritylevel.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-boot-overview.md @Austin23
zh-cn/device-dev/subsystems/subsys-boot-init.md @Austin23
zh-cn/device-dev/subsystems/subsys-boot-appspawn.md @Austin23
zh-cn/device-dev/subsystems/subsys-boot-appspawn-standard.md @Austin23
zh-cn/device-dev/subsystems/subsys-boot-bootstrap.md @Austin23
zh-cn/device-dev/subsystems/subsys-boot-syspara.md @Austin23
zh-cn/device-dev/subsystems/subsys-boot-faqs.md @Austin23
zh-cn/device-dev/subsystems/subsys-boot-ref.md @Austin23
zh-cn/device-dev/subsystems/subsys-testguide-test.md @Austin23
zh-cn/device-dev/subsystems/subsys-dfx-overview.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-hilog-rich.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-hilog-lite.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-hitrace.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-hicollie.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-hisysevent-logging-config.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-hisysevent-logging.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-hisysevent-listening.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-hisysevent-query.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-hisysevent-tool.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-hidumper.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-hichecker.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-dfx-faultlogger.md @duangavin123_admin
zh-cn/device-dev/subsystems/subsys-toolchain-bytrace-guide.md @Austin23
zh-cn/device-dev/subsystems/subsys-toolchain-hdc-guide.md @Austin23
zh-cn/device-dev/subsystems/subsys-toolchain-hiperf.md @Austin23
zh-cn/device-dev/subsystems/subsys-xts-guide.md @Austin23