# Verification<a name="EN-US_TOPIC_0000001054370931"></a>

For details about the compilation and burning processes, see  [Modifying Source Code](../quick-start/running-a-hello-world-program.md)  and  [Burning Images](../quick-start/wlan-connection.md)  in  _Getting Started with Hi3861_.

After the preceding two steps are complete, press the  **RST**  button to reset the module. The LED blinks periodically, which meets the expectation. The verification is complete.

**Figure  1**  LED blinking<a name="fig20768175218527"></a>  
![](figures/led-blinking.gif "led-blinking")

